/* Reset the top margin for the body element */
body {
    margin-top: 0px;
}

/* Style for the header section */
header {
    background-color: rgb(11, 11, 10);
    padding: 10px 0px;
    color: #0f0f10;
}

/* Reset list styling for the navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for navigation links */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    margin-left: 250px;
}

/* Style for the logo */
.logo {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 70px;
    background: conic-gradient(#0f0f10, #b1becb, #bc9cca);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    color: #eceff3;
    margin-left: 46%;
    margin-top: 20px;
    font-size: 22px;
    transition: transform 0.3s;
}

/* Hover effect for the logo */
.logo:hover {
    transform: scale(1.4);
}

/* Background color for the body */
body {
    background-color: #0f1011;
    /* Consider uncommenting and specifying an image URL as background */
    /* background-image: url('white.avif'); */
}

/* Style for h2 elements */
h2 {
    color: #f3f6f8;
}

/* Style for h1 elements */
h1 {
    font-size: 24px;
    color: #101111;
    text-align: center;
}

/* Style for header links */
.header-links a {
    text-align: center;
    margin: 70px;
}

/* Style for the welcome container */
.welcome-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    color: #f0f4f7;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

/* Style for the converter container */
.converter {
    display: flex;
    width: 700px;
    height: 400px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0 60px rgba(20, 15, 15, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    font-size: 16px;
}

/* Style for general containers */
.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    color: #f0f4f7;
}

/* Style for input fields, email, and textarea */
.container input[type="text"],
.container input[type="email"],
.container textarea {
    padding: 15px;
    width: 60%;
    margin: 10px auto;
    border: 1px solid #121111;
    border-radius: 5px;
    margin-left: 125px;
}

/* Style for buttons */
.container button {
    padding: 15px;
    width: 50%;
    border: 1px solid #090909;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 180px;
}

/* Style for buttons on hover */
.container button {
    background-color: #2f77c4;
    color: #f0eaea;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for buttons */
.container button:hover {
    background-color: #9879f5;
}

/* Style for input fields and selects */
input[type="number"],
select {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #17191b;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the 'Convert' button */
button {
    background-color: #2f77c4;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #0d0e0f;
    font-size: 18px;
    transition: background-color 0.3s;
}

/* Hover effect for the 'Convert' button */
button:hover {
    background-color: #a079c7;
}

/* Style for the result output */
p#result {
    display: flex;
    width: 350px;
    height: 125px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid white;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    font-size: 30px;
    color: #eef2f6;
}

/* Styling for the reset button */
#reset {
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Hover effect for the result output */
#result:hover {
    transform: rotate(20deg);
}

