/* Reset the top margin for the body element */
body {
     background-color: #0f1011;
     margin-top: 0px;
}

/* Style for the header */
.header {
    background-color: white;
    color: #080505;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

/* Style for the animated logo */
.animated-logo {
    animation: twirl 4s linear infinite; /* Animation for the twirling effect */
}

/* Define keyframes for the twirl animation */
@keyframes twirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Style for the menu links */
.header-links {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex; /* Displayed menu items in a row */
    justify-content: center; /* Centered align menu items horizontally */
}

/* Style for the menu links */
.header-links li {
    margin: 0 20px; /* Added spacing between menu items */
}

/* Style for the menu links */
.header-links a {
    text-decoration: none;
    color: #0f0c0c;
    font-size: 20px;
    padding: 20px;
}

/* Style for the welcome container */
.welcome-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    color: #f0f4f7;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 20px;
}

/* Style for the converter container */
.converter {
    display: flex;
    width: 700px;
    height: 400px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 0 60px rgba(20, 15, 15, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    font-size: 16px;
    color:#eef2f6;
}

/* Style for containers */
.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    color: #f0f4f7;
}

/* Style for input fields and selects */
input[type="number"],
select {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #17191b;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for the 'Convert' button */
button {
    background-color:#90e0ef;
    color: #0f0d0d;
    border: none;
    padding: 10px 180px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #dee6ef;
    font-size: 18px;
    transition: background-color 0.3s;
}

/* Hover effect for the 'Convert' button */
button:hover {
    background-color: #0cbeeb;
}

/* Style for the result output */
p#result {
    display: flex;
    width: 15em;
    height: 5em;
    background: conic-gradient(#0f0f10);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 200px;
    padding: 20px;
    border: 4px solid white;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    font-size: 30px;
    color: #eef2f6;

}

/* Styling for the reset button */
#reset {
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Hover effect for the result output */
#result:hover {
    transform: rotate(20deg);
}

.footnote {
    position: absolute;
    color:#eceff3;
}
